.device-list{
    color:white;
    ul{
        a{
            color:white;
            li{
                
            }
        }
    }
    .device{
        list-style: none;
        margin-bottom:10px;

    }
}