@*<link rel="stylesheet" href="~/css/Design.css" />*@
<div class="design-page">
	<div class="row">
		<div class="color-blurbs">
			<h2>Colors</h2>
			<div class="col-xs-2 content-bg">
				<div class="circle darkest-grey"></div>
				<div class="circle dark-grey"></div>
				<div class="circle grey"></div>
			</div>
			<div class="col-xs-2 content-bg">
				<div class="circle darkest-green"></div>
				<div class="circle dark-green"></div>
				<div class="circle green"></div>
			</div>
			<div class="col-xs-2 content-bg">
				<div class="circle darkest-yellow"></div>
				<div class="circle dark-yellow"></div>
				<div class="circle bright-yellow"></div>
			</div>
			<div class="col-xs-2 content-bg">
				<div class="circle darkest-orange"></div>
				<div class="circle dark-orange"></div>
				<div class="circle dull-orange"></div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="buttons">
			<div class="col-xs-5">
				
			</div>
		</div>
	</div>
</div>